@{
    ViewData["Title"] = "Home Index";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class="display-4">Welcome First Admin Web Application</h1>
</div>
<br />
<p>Use this page to detail your site's Home Index Page.</p>